/BlinkDetector-main
/blink_MBI_analysis_summary.xlsx
/blink_rate_analysis.xlsx
/blink_rate_by_participant.xlsx
/data_lsl
/data_Tobii
/full_blink_MBI_temperature_summary.xlsx
/Meter-Plus-13_data.xls
/partial_blink_rate_analysis.xlsx
/temperature_participant.xlsx
/temperature_participant_summary.xlsx
/Test LOOK Participant.xlsx